{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'assets/Garelabo_Logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GARELABO+｜ホイール</title>

    <!-- 共通CSS読み込み -->
    <link rel="stylesheet" href="{% static 'css/custom_menu_wheel_style.css' %}">
</head>
<body>

    <!-- ▼ ヘッダー -->
    <header class="header">
        <div class="header-left">
            <img src="{% static 'assets/ガレラボ+.png' %}" class="logo" alt="GARELABO+">
        </div>

        <nav class="header-nav">
            <a href="{% url 'auto_custom' %}" class="nav-btn">自動カスタム</a>
            <a href="{% url 'favorite_page' %}" class="nav-btn">お気に入り</a>
            <a href="{% url 'estimate' %}" class="nav-btn">カスタム見積り</a>
            <a href="{% url 'custom_cancel' %}" class="nav-btn">カスタム中止</a>
        </nav>

        <div class="header-user">
            <span class="user-name">{{ user.nickname }}さん</span>
            <a href="{% url 'account' %}" class="user-icon">
                <img src="{% static 'assets/アカウントアイコン.png' %}" alt="">
            </a>
        </div>
    </header>

    <!-- ▼ メインレイアウト -->
    <main class="main-layout">

        <!-- 左サイドメニュー -->
        <aside class="side-menu">

            <div class="day-night-switch">
                <button class="day-night-toggle" type="button">
                    <span class="icon sun">☀</span>
                    <span class="icon moon">🌙</span>
                </button>
            </div>

            <a href="{% url 'custom_menu_bodycolor' %}" class="side-btn-link">ボディカラー</a>
            <a href="{% url 'custom_menu_wheel' %}" class="side-btn-link is-active"style="background:#111; color:#fff;">ホイール</a>
            <a href="{% url 'custom_menu_bumper' %}" class="side-btn-link">バンパー</a>
            <a href="{% url 'custom_menu_light' %}" class="side-btn-link">ライト</a>
            <a href="{% url 'custom_menu_aeroparts' %}" class="side-btn-link">エアロパーツ</a>

        </aside>

        <!-- ▼ 車 + 下のホイール枠 -->
        <section class="car-display-area">

            <div class="car-frame">
                <!-- DB画像 -->
                <img src="{% static 'assets/r34_sample.png' %}" class="car-image" alt="車">
            </div>

            <div class="rotate-hint">
                <img src="{% static 'assets/rotate.png' %}" alt="">
                <span>360°</span>
            </div>

            <div class="save-area">
                <button class="save-custom-btn">カスタム内容保存</button>
            </div>

            <!-- ▼ ホイール枠だけ -->
            <section class="wheel-list-area">
                    <div class="save-area">
        <a href="{% url 'list_page' %}" class="save-custom-btn">
            カスタム内容保存
        </a>
    </div>
            </section>

        </section>

    </main>

</body>
</html>
